/* Common style  */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    /* font-family: 'Montserrat', sans-serif; */
    font-family: Arial, Helvetica, sans-serif;
}
.clearfix::after{
    content: "";
    clear: both;
    display: table;
}
div.contenitore{
    width: 90%;
    margin: auto;
    height: 100%;
   
 
}

.h3-dim{
    font-size: 2.8rem;
    color:#33475c;
}
.p_normal-dim{
    font-size: 0.95rem;
    color:#617280;
}
.p_small-dim{
    font-size: 0.8rem;
    color:#617280;
}

/* Debug style  - HEADER  */
header{
    width: 100%;
    height: 100vh;
}
div.Hei-Nav{
    position: relative;
}

div.contenuto{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}

div.nav_box-left{
    float: left;
    width: 50%;
    height: 100%;     
   
}

div.nav_box-right{
    float: left;
    width: 50%;
    height: 100%;   
    position: relative;
}

.second-nav #nav_2_left{
    float: left;
    width: 30%;
    height: 100%; 
}


.second-nav #nav_2_right{
    float: left;
    width: 70%;
    height: 100%; 
    
}

div.nav_box-right>.contenuto{
    position:absolute;
    right:0; 
}
a.linka{
    font-size: 0.9rem;
    text-decoration: none;
    color:white;
    border:1px solid #FE775A;
    border-radius: 5px;
    background-color: #FE775A;
    
}
        /* HEADER FIRST NAV  */

header>.first-nav{
    width: 100%;
    background-color: #F4F9FD;
    height: 12%;
    border-bottom: 1px solid black;
}

.first-nav div.nav_box-left>.contenuto>a{
    text-decoration: none;
    color:black;
}

.first-nav div.nav_box-left>.contenuto>a:last-of-type{
    padding-left: 0.5rem;
}

.first-nav  div.nav_box-left>.contenuto>i:last-of-type{
    padding-right: 1rem;
    border-right: 2px solid black;
}

.first-nav  div.nav_box-right>.contenuto>i{
    font-size: 0.8rem;
    color: #24a4bd;
    margin-right: 1rem;
  
}
.first-nav div.nav_box-right>.contenuto>a{
    text-decoration: none;
    
}
.first-nav div.nav_box-right>.contenuto>a:first-of-type{
    margin-right: 1rem;
    color:#FE775A;
    border:1px solid #FE775A;
    border-radius: 5px;
    padding: 0.5rem;    
    background-color: #FAFCFE;
    
}

.first-nav div.nav_box-right>.contenuto>a:last-of-type{    
    padding: 0.5rem;    
}



        /* HEADER second NAV  */
header>.second-nav{
    width: 100%;
    background-color: #FFFFFF;
    height: 12%;
}

.second-nav .nav_box-right a{
    text-decoration: none;
    color:#617280;
    padding:0 0.5rem;
}

.second-nav .nav_box-right i{
    color:#617280;
}

        /* HEADER central part  */

header>div.central-header{
    /* background-image: linear-gradient(180deg, #FFF4EF 0%, rgba(255, 244, 239, 0) 100%); */
    width: 100%;
    height: 100%;
    background-color: #FFF1EE;
    background-image: url(../img/jumbotron.png);
    /* background-size:90%;
    background-position: 100% -84%;  */
    background-size:95%;
    background-position: 9rem 0.6rem;
    background-repeat:no-repeat;
    
}

             /* ASIDE part  */

.central-header .aside-box{
    width: 50%;
}

.central-header .aside-box h3{
    padding-top:4rem;
  
}
.central-header .aside-box p{
    padding: 2.5rem 0;
    line-height: 1.6rem;
   
}

.central-header .aside-box a{
    padding: 1rem 2rem;  
    color:white;
}





/* Debug style  - MAIN  */

main>.first_main-section{
    background-color: #F4F9FD;
    height: 200vh;
    width: 100%;
    

}

main>.second_main-section{
    background-color: #00BAA8;
    height: 100vh;

}


main>.third_main-section{
    background-color: white;
    height: 100vh;

}

/* Debug style  - FOOTER  */
footer{
    width: 100vw;
    height: 100vh;
    background-color: #32495B;
}


