/* Common style  */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}
div.contenitore{
    width: 80%;
    margin: auto;
    height: 100%;
}

/* Debug style  - HEADER  */
header{
    width: 100vw;
    height: 100vh;
    border: 3px dotted red;
}
div.Hei-Nav{
    padding: 2.5rem 0;
}
        /* HEADER FIRST NAV  */

header>.first-nav{
    width: 100%;
    background-color: #F4F9FD;
    height: 15%;
    border:1px solid black;
}

div.nav_box-left{
    float: left;
    width: 50%;
    height: 100%;      
}

div.nav_box-left>span{
    padding: 1rem;
}

div.nav_box-left>a{
    text-decoration: none;
    color:black;
}

div.nav_box-right{
    float: left;
    width: 50%;
    height: 100%;   
    text-align: right;
}
div.nav_box-right>i{
    font-size: 0.8rem;
    color: #24a4bd;
    margin-right: 1rem;
}
div.nav_box-right>a{
    text-decoration: none;
    
}
div.nav_box-right>a:first-of-type{
    margin-right: 1rem;
    color:#FE775A;
    border:1px solid #FE775A;
    border-radius: 5px;
    padding: 0.5rem;    
    background-color: #FAFCFE;
}

div.nav_box-right>a:last-of-type{
    color:white;
    border:1px solid #FE775A;
    border-radius: 5px;
    padding: 0.5rem;    
    background-color: #FE775A;
}





        /* HEADER second NAV  */
header>.second-nav{
    width: 100%;
    background-color: #FFFFFF;
    height: 15%;
    border:1px solid black;
}

header>div.central-header{
    width: 100%;
    background-color: #FFF1EE;
    height: 70%;
    border:1px solid black;
}










/* Debug style  - MAIN  */
main{
    width: 100vw;
}

main>.first_main-section{
    background-color: #F4F9FD;
    height: 100vh;

}

main>.second_main-section{
    background-color: #00BAA8;
    height: 100vh;

}


main>.third_main-section{
    background-color: white;
    height: 100vh;

}

/* Debug style  - FOOTER  */
footer{
    width: 100vw;
    height: 100vh;
    background-color: #32495B;
}

